@import './mini/reset';
@import './mini/colors';
@import './mini/fonts';
@import './mini/mixins';
@import './mini/screens';


//BASE STYLES
* {
   font-family: 'Plus Jakarta Sans', sans-serif;
}
body {
   background: $lightCream;
}
img {
   display: block;
}
.regular {
   font-size: 1rem; //16px
   line-height: 26px; //26px
}
.mid {
   font-size: 1.5rem; //24px
}
.btn {
   font-size: 0.875rem; //14px
   display: block;
   border: none;
   border-radius: 28px;
   width: 60%;
   min-width: 172px;
   max-width: 172px;
   font-weight: 700;    
   padding: 8px 0px;
   line-height: 28px;
   color: hsl(28, 100%, 97%);
   text-align: center;
}
.primary-btn {
   background: $black;

   &:hover {
      background: $galaticBlue;
   }
}
.secondary-btn {
   background: $lightRed;

   &:hover {
      background: $summerYellow;
   }
}
.margin {
   width: 91.46%;
   margin: auto;
}
h1 {
   font-size: 2.25rem; //36px 
}
h2 {
   font-size: 1.625rem; //26px
   font-weight: 700;
}
h3 {
   font-size: 1.5rem; //24px
   font-weight: 700;
}
.top-bottom-bar {
   @include flexSpread;
   align-items: center;

   a {
      display: block;

      //logo
      &:nth-child(1) {
         height: 48px;

         img {
            width: 48px;
            height: 48px;
         }
      }

      //action-btn
      &:nth-child(1) {

      }
   }
}


//HEADER
.header {
   margin-bottom: 32px;
   margin-top: 16px;
}

//HERO SECTION
.hero {
   text-align: center;
   margin-bottom: 100px;

   h1 {
      margin-bottom: 16px;
   }

   p {
      color: $mediumBrown;
      max-width: 730px;
      width: 83.09%;
      margin: auto;   
      margin-bottom: 32px;
      font-weight: 500;
   }

   .hero-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 343px 182px 158px;
      grid-auto-rows: 182px;
      grid-gap: 24px;
   }

   .hero-grid-item {
      border-radius: 8px;
      color:  $white;
      padding: 24px;
      position: relative;

      &:nth-child(1) {
         background: $galaticBlue;
         grid-column: 1 / 3;
      }
      &:nth-child(2) {
         background: $summerYellow;
      }
      &:nth-child(3) {
         background: $lightPink;
      }
      &:nth-child(4) {
         background: $lightRed;
      }
      &:nth-child(5) {
         background: $cyan;
      }
      &:nth-child(6) {
         background: $purple;
      }

      &:nth-child(1),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) {
         grid-column: 1 / 3;

         img {
            width: 128px;
         }
      }

      &:nth-child(2),
      &:nth-child(3) {
         img {
            width: 64px;
         }
      }

      img {
         float: right
      }

      span {
         display: block;
         clear: both;
         text-align: left;
         font-weight: 700;
         position: absolute;
         bottom: 24px;
      }
   }
}

//HERO SECTION II
.hero2 {
   margin-bottom: 100px;

   img {
      width: 100%
   }

   h2 {
      margin-bottom: 24px;
   }

   p {
      color: $mediumBrown;
      font-weight: 500;
      margin-bottom: 24px;
   }

   a {
      display: block;
      margin: auto;
      min-width: 176px;
   }

   .margin {
      & > div {
         &:nth-child(1) {
            margin-bottom: 40px;
         }

         &:nth-child(2) {
            text-align: center;
            
         }
      }
   }
}

//PROJECTS SECTION
.works {
   text-align: center;
   margin-bottom: 100px;

   h3 {
      margin-bottom: 32px;
   }

   .workSlide-container {
      width: 100vw;
      max-width: 100vw;
      overflow-x: hidden;
   }

   .workSlide-slider {
      overflow-x: scroll;
      scroll-behavior: smooth;
      position: relative;
      margin-bottom: 32px;

      &::-webkit-scrollbar {
         display: none;
      }

      -ms-overflow-style: none; 
      scrollbar-width: none;
   }

   .workSlide {
      width: max-content;
      padding: 0px 15px;

      //flexbox
      & > div {
         display: flex;
         gap: 15px;

         //each slide item
         img {
            width: 270px;
            border-radius: 10px;
         }
      }
   }

   .workSlide-controls {
      @include flexCenter;
      gap: 16px;
      width: 100%;

      button {
         @include flexCenter;
         @include hoverPointer;
         width: 64px;
         height: 64px;
         border: none;
         border-radius: 100%;
         background: $black;

         &:hover {
            background: $galaticBlue;
         }
      }
   }
}

//FOOTER
.footer {
   margin-bottom: 32px;
   
   .margin {
      & > div {
         &:nth-child(1) {
            text-align: center;
            background: $black;
            color: $lightCream;
            border-radius: 10px;
            padding: 49px 24px 48px;
            margin-bottom: 42px;

            a {
               margin: auto;
            }

            h2,p {
               margin-bottom: 24px;
            }

            p {
               font-weight: 500  ;
            }

         }

         &:nth-child(2) {

         }
      }
   }
}


@import './mini/resQueries';