@import './mini/reset';
@import './mini/colors';
@import './mini/fonts';
@import './mini/mixins';
@import './mini/screens';


//BASE STYLES
* {
   font-family: 'Plus Jakarta Sans', sans-serif;
}
body {
   background: $lightCream;
}
.regular {
   font-size: 1rem; //16px
}
.mid {
   font-size: 1.5rem; //24px
}
.btn {
   font-size: 1rem; //16px
   border: none;
   border-radius: 28px;
   width: 60%;
   min-width: 172px;
   max-width: 172px;
   font-weight: 700;    
   padding: 14px 0px;
   color: $white;
   text-align: center;
}
.primary-btn {
   background: $black;

   &:hover {
      background: $galaticBlue;
   }
}
.secondary-btn {
   background: $lightRed;

   &:hover {
      background: $summerYellow;
   }
}
.margin {
   width: 91.46%;
   margin: auto;
}
h1 {
   font-size: 2.25rem; //36px 
}
h2 {
   font-size: 1.625rem; //26px
   font-weight: 700;
}


//HEADER
.header {
   margin-bottom: 32px;

   .margin {
      @include flexSpread;
      align-items: center;
      padding-top: 16px;
   }

   a {
      display: block;

      //logo
      &:nth-child(1) {
         img {
            width: 48px;
         }
      }

      //action-btn
      &:nth-child(1) {

      }
   }
}

//HERO SECTION
.hero {
   text-align: center;
   margin-bottom: 100px;

   h1 {
      margin-bottom: 16px;
   }

   p {
      line-height: 26px;
      color: $mediumBrown;
      max-width: 730px;
      width: 83.09%;
      margin: auto;   
      margin-bottom: 32px;
      font-weight: 500;
   }

   .hero-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 343px 182px;
      grid-auto-rows: 182px;
      grid-gap: 24px;
   }

   .hero-grid-item {
      border-radius: 8px;
      color:  $white;
      padding: 24px;
      position: relative;

      &:nth-child(1) {
         background: $galaticBlue;
         grid-column: 1 / 3;
      }
      &:nth-child(2) {
         background: $summerYellow;
      }
      &:nth-child(3) {
         background: $lightPink;
      }
      &:nth-child(4) {
         background: $lightRed;
      }
      &:nth-child(5) {
         background: $cyan;
      }
      &:nth-child(6) {
         background: $purple;
      }

      &:nth-child(1),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) {
         grid-column: 1 / 3;

         img {
            width: 128px;
         }
      }

      &:nth-child(2),
      &:nth-child(3) {
         img {
            width: 64px;
         }
      }

      img {
         float: right
      }

      span {
         display: block;
         clear: both;
         text-align: left;
         font-weight: 700;
         position: absolute;
         bottom: 24px;
      }
   }
}

//HERO SECTION II
.hero2 {
   margin-bottom: 100px;

   img {
      width: 100%
   }

   h2 {
      margin-bottom: 24px;
   }

   p {
      color: $mediumBrown;
      font-weight: 500;
      margin-bottom: 24px;
      line-height: 26px;
   }

   a {
      display: block;
      margin: auto;
   }

   .margin {
      & > div {
         &:nth-child(1) {
            margin-bottom: 40px;
         }

         &:nth-child(2) {
            text-align: center;
            
         }
      }
   }
}


@import './mini/resQueries';