$galaticBlue: hsl(252, 66%, 62%);
$summerYellow: hsl(28, 89%, 67%);
$lightPink: hsl(0, 78%, 79%);
$lightRed: hsl(7, 77%, 66%);
$cyan: hsl(172, 46%, 57%);
$purple: hsl(314, 45%, 23%);
$black: hsl(0, 0%, 1%);
$white: hsl(0, 0%, 100%);
$mediumBrown: hsl(30, 5%, 45%);
$lightCream: hsl(28, 100%, 97%);