@include tabs {
   .regular {
      font-size: 1.125rem; //18px
      line-height: 1.75rem; //28px
   }
   .btn {
      max-width: 228px;
      min-width: 228px;
      font-size: 1rem; //16px
      padding: 14px 0px;
   }
   .margin {
      width: 89%;
   }
   h1 {
      font-size: 2.75rem; //44px
   }
   h2 {
      font-size: 32px;
   }
   h3 {
      font-size: 2rem; //32px
   }
   .top-bottom-bar {
      a {
         //logo
         &:nth-child(1) {
            height: 64px;

            img {
               width: 64px;
               height: 64px;
            }
         }
      }
   }

   //HEADER
   .header {
      margin-bottom: 68px;
      margin-top: 34px;
   }

   //HERO
   .hero {
      margin-bottom: 120px;

      h1 {
         margin-bottom: 27px;
      }

      p {
         margin-bottom: 64px;
      }

      .hero-grid {
         grid-template-columns: repeat(4, 1fr);
         grid-template-rows: 182px 158px;
      }

      .hero-grid-item {
         &:nth-child(1) {
            grid-column: 1/3;
            grid-row: 1/3;
         }

         &:nth-child(2) {
            grid-row: 1 / 2;
         }

         &:nth-child(4),
         &:nth-child(6) {
            grid-column: 3 / 5;
         }
      }
   }

   //HERO SECTION II
   .hero2 {
      margin-bottom: 120px;

      a {
         margin: unset;
         min-width: 228px;
      }

      .margin {
         @include flexSpread;
         align-items: center;

         & > div {
            &:nth-child(1) {
               width: 52.2%;
               margin-left: -83px;
               margin-bottom: 0;
            }

            &:nth-child(2) {
               text-align: left;
               width: 49.1%;
               margin-left: 69px;
            }  
         }
      }
   }

   //PROJECTS SECTION
   .works {
      text-align: center;
      margin-bottom: 120px;

      h3 {
         margin-bottom: 56px;
      }

      .workSlide-container {
         
      }

      .workSlide-slider {
         margin-bottom: 56px;

      }

      .workSlide {
         padding: 0px 30px;

         //flexbox
         & > div {
            gap: 30px;

            //each slide item
            img {
               width: 540px;
               height: 360px;
            }
         }
      }

      .workSlide-controls {
        
      }
   }

   //FOOTER
   .footer {
      margin-bottom: 56px;
      
      .margin {
         & > div {
            &:nth-child(1) {
               padding: 56px 75px 64px;
               margin-bottom: 60px;


               h2,p {
                  margin-bottom: 26px;
               }

               
            }

            &:nth-child(2) {

            }
         }
      }
   }
}

@include desktop {
   .margin {
      width: 77.08%;
   }
   h2 {
      font-size: 40px;
      line-height: 51px;
   }

   //HEADER
   .header {
      margin-bottom: 66px;
   }

   //HERO
   .hero {
      margin-bottom: 136px;

      h1 {
         margin-bottom: 23px;
         font-size: 3.5rem; //56px
         line-height: 70.56px;
      }

      p {
         margin-bottom: 80px;
      }

      .hero-grid {
         grid-template-columns: repeat(6, 1fr);
      }

      .hero-grid-item {
         &:nth-child(5) {
            grid-row: 1 / 2;
         }
         &:nth-child(5), 
         &:nth-child(6) {
            grid-column: 5 / 7;
         }
      }
   }

   //HERO SECTION II
   .hero2 {
      margin-bottom: 88px;
      
      p {
         margin-bottom: 32px;
      }
      a {
         margin: unset;
      }

      .margin {
         @include flexSpread;
         align-items: center;

         & > div {
            &:nth-child(1) {
               width: 39.5%;
               margin-left: unset;
            }

            &:nth-child(2) {
               text-align: left;
               width: 48.3%;
               margin-left: unset;
            //    margin-top: 10px;
            }  
         }
      }
   }

   //PROJECTS SECTION
   .works {
      margin-bottom: 88px;
   }

   //FOOTER
   .footer {
      margin-bottom: 56px;
      
      .margin {
         & > div {
            &:nth-child(1) {
               padding: 81px 65px 80px;
               margin-bottom: 56px;
               @include flexSpread;
               align-items: center;

               & > div {
                  text-align: left;
                  width: 55%;
               }

               & > a {
                  margin: unset;
                  margin-right: 30px;
               }

               h2,p {
                  margin-bottom: unset;
               }

               h2 {
                  margin-bottom: 25px;
               }

               
            }

            &:nth-child(2) {

            }
         }
      }
   }
}